<div class="container">
  <b style="font-size: 50px; color: black;">SignUp Form</b>
<hr>

<form (ngSubmit)="onsignup(f)" #f="ngForm">

      <div class="container">
        <div class="form-group">
        <mat-form-field class="example-full-width">
        <input matInput placeholder="Email_id:" type="text" [(ngModel)]="Email_id" name="Email_id" #id="ngModel" email required>
        </mat-form-field>
        <label [hidden]= "id.valid || id.untouched" >
        <label [hidden]="id.errors?.required" class="alert alert-danger">
          Email is Invalid</label>
          <label [hidden]="!id.errors?.required" class="alert alert-danger">
              Email is Required
            </label>
        </label>

     </div>
     <div class="form-group">
      <mat-form-field class="example-full-width">
      <input matInput placeholder="Password:" type="text" [(ngModel)]="Password" name="Password" #pass="ngModel"  required minlength="6">
      </mat-form-field>
      <label [hidden]= "pass.valid || pass.untouched" >
          <label [hidden]="pass.errors?.required" class="alert alert-danger">
            Password is too short</label>
            <label [hidden]="!pass.errors?.required" class="alert alert-danger">
              Password is Required
              </label>
          </label>

   </div>

   <div class="form-group">
    <mat-form-field class="example-full-width">
    <input matInput placeholder="Name:" type="text" [(ngModel)]="Name" name="Name" #user="ngModel" required>
    </mat-form-field>
    <label [hidden]= "user.valid || user.untouched" >
          <label [hidden]="!user.errors?.required" class="alert alert-danger">
            Supplier Name is Required
            </label>
        </label>

 </div>
 <div class="form-group">
  <mat-form-field class="example-full-width">
      <input matInput placeholder="Mobile_no:" type="text" name="Mobile_no" [(ngModel)]="Mobile_no"  #mob1="ngModel" required required minlength="10">
  </mat-form-field>
  <label [hidden]= "mob1.valid || mob1.untouched" >
      <label [hidden]="mob1.errors?.required" class="alert alert-danger">
        Required 10 Digit</label>
        <label [hidden]="!mob1.errors?.required" class="alert alert-danger">
          Mobile Number is Required
          </label>
      </label>

      </div>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Address" name="Address" #ad="ngModel" [(ngModel)]="Address"  required>
  </mat-form-field>
     <div class="from-group">
      <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>
    </div>
    </div>
  </form>
